* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fafafc;
  color: #777;
  display: flex;
  justify-content: center;
}

p {
  font-size: 14px;
  font-weight: 200;
}

.app {
  width: 90vw;
}

.search-section {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-section .surprise {
  margin: 0 0 2px 5px;
  padding: 4px 12px;
  border-radius: 5px;
  background-color: #ececf1;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.search-section .input-container {
  width: 100%;
  border-radius: 6px;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
}

.input-container input {
  width: 90%;
  box-sizing: border-box;
  padding: 13px 14px;
  border: none;
  font-size: 15px;
  font-weight: 200;
  outline: none;
}

.input-container input::placeholder {
  color: #cacaca;
  font-weight: 200;
}

.input-container button {
  width: 10%;
  border: none;
  border-left: 1px #cacaca solid;
  background-color: #fff;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}

.input-container button:active {
  background-color: #cacaca;
}

.image-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.image-section img {
  margin: 1px;
  min-width: 250px;
  max-width: 33%;
  flex-grow: 1;
}

@media (max-width: 556px) {
  .image-section img {
    max-width: 100%;
  }
}

.extra-info {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .modal {
  position: relative;
  z-index: 100;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal .img-container {
  width: 256px;
  height: 256px;
  overflow: hidden;
}

.modal button {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.modal button:active {
  background-color: #fafafc;
}
